.hangmanContainer{
    width:600px;
    height:400px;
    position:relative;
    margin: 0 auto;
}

.base{
    position:absolute;
    bottom:10px;
    left:10px;
    background:black;
    width:580px;
    height:20px;
}

.post{
    position:absolute;
    bottom:10px;
    left:180px;
    background:black;
    width:20px;
    height:380px;
}

.top{
    position:absolute;
    top:10px;
    left:200px;
    background:black;
    width:200px;
    height:20px;
}

.diagonal{
    position:absolute;
    top:65px;
    left:170px;
    background:black;
    width:160px;
    height:20px;
    transform: rotate(315deg);
}

.noose{
    position:absolute;
    top:10px;
    left:380px;
    background:black;
    width:20px;
    height:50px;
}

.head{
    position:absolute;
    top:50px;
    left:355px;
    background:transparent;
    border:10px solid black;
    border-radius:50%;
    width:50px;
    height:50px;
}

.body{
    position:absolute;
    top:115px;
    left:380px;
    background:black;
    width:20px;
    height:100px;
}

.leftArm{
    position:absolute;
    top:115px;
    left:360px;
    background:black;
    width:20px;
    height:50px;
    transform: rotate(315deg);
}

.rightArm{
    position:absolute;
    top:115px;
    left:400px;
    background:black;
    width:20px;
    height:50px;
    transform: rotate(45deg);
}

.leftLeg{
    position:absolute;
    top:200px;
    left:360px;
    background:black;
    width:20px;
    height:50px;
    transform: rotate(45deg);
}

.rightLeg{
    position:absolute;
    top:200px;
    left:400px;
    background:black;
    width:20px;
    height:50px;
    transform: rotate(315deg);
}

.alphabetContainer,
.guessContainer,
.wrongGuessContainer{
    padding:20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.letter{
    padding:20px;
    border:1px solid black;
    margin:10px;
    border-radius:5px;
    cursor:pointer;
}

.letter.clicked{
    padding:20px;
    border:1px solid grey;
    background:#e6e6e6;
    margin:10px;
    border-radius:5px;
    cursor:auto;
}

.wrongGuessLetter{
    padding:20px;
    margin:10px;
    font-size:30px;
    min-height:36px;
}

.guessLetter{
    padding:20px;
    border-bottom:1px solid black;
    margin:10px;
    font-size:30px;
    min-height:36px;
}

.life1,
.life2,
.life3,
.life4,
.life5,
.life6,
.life7,
.life8,
.life9,
.life10,
.life11{
    display:none;
}

.life1.active,
.life2.active,
.life3.active,
.life4.active,
.life5.active,
.life6.active,
.life7.active,
.life8.active,
.life9.active,
.life10.active,
.life11.active{
    display:block;
}